<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body" ng-repeat="sv in listSinhVien">
          <h5 class="card-title">{{sv.id}}</h5>
          <p class="card-text">{{sv.MaSV}}</p>
          <p class="card-text">{{sv.Name}}</p>
          <p class="card-text">{{sv.CanNang}}</p>
          <p class="card-text">{{sv.Loai}}</p>
          <p class="card-text">{{sv.gioiTinh }}</p>
          <p class="card-text">{{sv.ChuyenNganh}}</p>
          <p class="card-text">{{sv.SoThich}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body" ng-repeat="sv in listSinhVien">
          <h5 class="card-title">{{sv.id}}</h5>
          <p class="card-text">{{sv.MaSV}}</p>
          <p class="card-text">{{sv.Name}}</p>
          <p class="card-text">{{sv.CanNang}}</p>
          <p class="card-text">{{sv.Loai}}</p>
          <p class="card-text">{{sv.gioiTinh}}</p>
          <p class="card-text">{{sv.ChuyenNganh}}</p>
          <p class="card-text">{{sv.SoThich}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body" ng-repeat="sv in listSinhVien">
          <h5 class="card-title">{{sv.id}}</h5>
          <p class="card-text">{{sv.MaSV}}</p>
          <p class="card-text">{{sv.Name}}</p>
          <p class="card-text">{{sv.CanNang}}</p>
          <p class="card-text">{{sv.Loai}}</p>
          <p class="card-text">{{sv.gioiTinh}}</p>
          <p class="card-text">{{sv.ChuyenNganh}}</p>
          <p class="card-text">{{sv.SoThich}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body" ng-repeat="sv in listSinhVien">
          <h5 class="card-title">{{sv.id}}</h5>
          <p class="card-text">{{sv.MaSV}}</p>
          <p class="card-text">{{sv.Name}}</p>
          <p class="card-text">{{sv.CanNang}}</p>
          <p class="card-text">{{sv.Loai}}</p>
          <p class="card-text">{{sv.gioiTinh}}</p>
          <p class="card-text">{{sv.ChuyenNganh}}</p>
          <p class="card-text">{{sv.SoThich}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
