<form>
  Ten: <input type="text" ng-model="form_sinhVien.ten" />
  <br />
  Loai: <input type="text" ng-model="form_sinhVien.loai" />
  <br />
  Gioi tinh:
  <input
    type="radio"
    name="gender"
    value="true"
    ng-model="form_sinhVien.gioiTinh"
    ng-checked="form_sinhVien.gioiTinh == true"
  />
  Nam
  <input
    type="radio"
    name="gender"
    value="false"
    ng-model="form_sinhVien.gioiTinh"
    ng-checked="form_sinhVien.gioiTinh == false"
  />
  Nữ
  <br />
  <button>Add</button>
  <button>Update</button>
  <table>
    <thead>
      <tr>
        <th>NO</th>
        <th>ID</th>
        <th>Ten</th>
        <th>Loai</th>
        <th>Gioi tinh</th>
        <th>Function</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tv in danhSachThucVat">
        <td>{{$index}}</td>
        <td>{{tv.ID}}</td>
        <td>{{tv.Ten}}</td>
        <td>{{tv.Loai}}</td>
        <td>{{tv.GioiTinh}}</td>
        <td>
          <a
            href="#thuc-vat/detail/{{tv.ID}}"
            ng-click="detailStudent($event,$index)"
            >Detail</a
          >
          <a
            href="#thuc-vat/remove/{{tv.ID}}"
            ng-click="removeStudent($event,$index)"
            >Remove</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</form>
