<form>
  <label for="">Ten: </label> <input type="text" ng-model="form_ThucVat.ten" />
  <br />
  <label for="">Loai: </label>
  <input type="text" ng-model="form_ThucVat.loai" />
  <br />
  <label for="">Gioi tinh: </label>
  <input
    type="radio"
    name="gender"
    ng-model="form_ThucVat.gioiTinh"
    value="true"
    ng-checked="form_ThucVat.gioiTinh == true"
  />
  Nam
  <input
    type="radio"
    name="gender"
    ng-model="form_ThucVat.gioiTinh"
    value="false"
    ng-checked="form_ThucVat.gioiTinh == false"
  />
  Nu
  <br />
  <button ng-click="addThucVat($event)">ADD</button>
  <button ng-click="updateThucVat($event)">UPDATE</button>
</form>

<table>
  <thead>
    <tr>
      <th>STT</th>
      <th>ID</th>
      <th>Ten</th>
      <th>Loai</th>
      <th>Gioi tinh</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in listThucVat">
      <td>{{$index + 1}}</td>
      <td>{{x.name}}</td>
      <td>{{x.name}}</td>
      <td>{{x.name}}</td>
      <td>{{x.name}}</td>
      <td>
        <a
          href="#thuc-vat/detail/{{x.id}}"
          ng-click="detailThucVat($event, $index)"
          >detail</a
        >
        <a
          href="#thuc-vat/delete/{{x.id}}"
          ng-click="deleteThucVat($event, $index)"
          >delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
