<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div ng-app="productApp" ng-controller="productController">
      <h1>Product List</h1>
      <div ng-repeat="product in products">
        <h2 ng-click="showDetails(product)">{{product.name}}</h2>
      </div>
      <div ng-if="selectedProduct">
        <h2>{{selectedProduct.name}}</h2>
        <p>Price: {{selectedProduct.price}}</p>
        <p>Description: {{selectedProduct.description}}</p>
      </div>
    </div>
    <script>
      var app = angular.module("productApp", []);
      app.controller("productController", function ($scope) {
        $scope.products = [
          { name: "Product A", price: 100, description: "This is product A" },
          { name: "Product B", price: 200, description: "This is product B" },
          { name: "Product C", price: 300, description: "This is product C" },
        ];
        $scope.showDetails = function (products) {
          $scope.selectedProduct = products;
        };
      });
    </script>
    <script src="../lib/angular.js"></script>
  </body>
</html>
