ul li a {
  /* border: 1px solid; */
  margin: 3px;
}
.banner-img {
  padding-bottom: 35px;
}
h1 {
  text-align: center;
  padding-bottom: 35px;
}
li.nav-item :hover {
  background-color: yellow;
  border: 1px solid;
}
.tab-content {
  padding-bottom: 50px;
}
.col-lg-2 {
  padding-bottom: 32px;
}
.container.row h1 {
  padding-top: 40px;
}
footer {
  background: #353535;
}
p {
  color: #ababab;
  font-size: 14px;
}
.banner2 {
  padding-bottom: 40px;
}
.row {
  padding-bottom: 40px;
}
footer h2 {
  color: #ababab;
  padding-bottom: 15px;
}
.card {
  width: 255px;
  height: 302px;
}
.card-body {
  text-align: center;
}
img.card-img-top {
  width: 225px;
  height: 123px;
  margin: 0 auto;
  width: 55%;
}
h5 {
  padding-bottom: 8px;
}
ul {
  list-style: none;
  color: #ababab;
  padding-bottom: 3px;
}
ul li a {
  list-style: none;
  color: #ababab;
  padding-bottom: 3px;
}
.mid-2 {
  padding: 1em 0;
}
.mid-2 p {
  float: left;
  font-size: 0.9em;
  color: #b4b4b4;
}
.block {
  float: right;
}

.mid-2 p label {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 6px;
}
.mid-2 p em {
  font-style: normal;
}
h2 {
  padding-top: 25px;
  color: aliceblue;
}
