header {
  background-color: aliceblue;
}
header img {
  height: 50px;
  width: 150px;
}
.i.bi.bi-headset {
  width: 100%;
}
footer img {
  height: 50px;
  width: 150px;
}
footer ul li {
  padding-bottom: 5px;
  list-style: none;
}
.header-bao-mat {
  font-size: 15px;
  display: block;
}
.col-lg-6 a {
  color: black;
  list-style: none;
  display: contents;
}
.header-bao-mat-col-lg-6 a:hover {
  color: red;
}
